.Palette{
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.Palette-colors{
    height: 90%;
}

.Palette-footer{
    background-color: white;
    height: 5vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
}

.emoji{
    font-size: 1.5rem;
    margin: -8px 1rem 0 1rem;
}

